/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */
/* body{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url('/images/test-compressor-opacity.png');
    background-size: auto; 
} */
.color-black{
  background-color: black;
}

.card-bg{
 background-color: rgba(41, 37, 37, 0.5);
}
.card-logo{
width: 100%;
position: absolute;
top: 45%;
left: 0;
}
.image {
display: block;
width: 100%;
height: auto;
}
.overlay-img{
  /* display: none; */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}
.overlay {
position: absolute;
bottom: 0;
left: 0;
right: 0;
background-color:rgba(12,127,222,0.95);
overflow: hidden;
width: 100%;
height: 0;
transition: .3s ease;
border-radius: .25rem
}
.text{
  padding: 10px;
}
.overlay-img:hover .overlay {
height: 100%;
}
.project-title{
  margin: 1.25rem 2rem;
  
}
.project-desc{
  margin: 0.75rem 2rem;
  font-size: 15px;

}
/* project details */
.custom-breadcrumb{
  padding: 10px 0px;
  display: flex;
  list-style: none ;
}


.headings{
  
  font-size: 2.5rem;
  font-weight: 600;
}



.font-roboto{
  font-family: 'Roboto Slab', serif;
}
.color-golden{
  color: #d9c882;
}

.font-rubik{
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
}
.sidebar-links{
  margin: 10px 0px;
}
.font{
  
  font-family: 'Roboto', sans-serif;
}
.fontfamily{
  font-family: 'Rubik', sans-serif;
}
.onscroll{
  background:black !important;
}

.jumbotron{
  background-color:rgba(0,0,0, 0.4) !important;
  text-align:center;
}

.color{
  background-color:rgba(0,0,0, 0.4) !important;
}
.bg{
  background-color:rgba(124, 208, 221, 0.4) !important;
}

.icons{
  color:white ;
}

.item{
  background-color:rgba(167, 216, 223, 0.4) !important;
}
.contain{
  background-color:rgba(0,0,0, 0.6) !important;
}
.social{
  display: flex;
  margin-top: 1.5rem;
  list-style: none;
}