body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url("../myportfolio/img/img-04.jpg");
    background-size: 150%;
}
.trn{
    background:transparent !important;
}

.onscroll{
    background:black !important;
}

.call{
   background: linear-gradient(white , blue);
}

/* rgb(115, 187, 235) */

.jumbotron{
    background-color:rgba(0,0,0, 0.4) !important;
    text-align:center;
}

.color{
    background-color:rgba(0,0,0, 0.4) !important;
}
.bg{
    background-color:rgba(167, 216, 223, 0.4) !important;
}

.icons{
    color:white ;
}





