<!-- Page Content -->
<div class="container" style="padding: 20px 0px;">
    <div class="row">
        <div class="col-lg-9">
            <h3>Hi, I'm Harshitha R Kumar</h3>
            <p></p>
        </div>
        <div class="col-lg-3">
            <img src="/images/flower.jpg">
        </div>
    </div>

    <!-- Subscriptipon -->

    <hr>
    <div class="row">
        <div class="col-lg-7">
            <h2>Subscribe to my Newsletter</h2>
        </div>
        <div class="col-lg-5 ">
            <form class="form-inline" action="/action_page.php">
                <label for="email"></label>
                <input type="email" class="form-control" id="email" placeholder="Please enter your email" name="email">
                <button type="submit" class="btn btn-primary ml-3">Subscribe</button>
            </form>
        </div>
    </div>

    <!-- Recent Projects -->

    <hr>
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-between">
                <h2 class="text-bold text-left"><u>Recent Projects</u></h2>
                <a class="text-right"href="/projectdetails">View All</a>
            </div>
        </div>
        <!-- Project details -->
        <main>
            <div class="container mb-5">
                <div class="row ">
                    <div class="col-lg-4 my-4">
                        <div class="card shadow">
                            <img class="card-img-top" src="images/number-guessing-game.png" alt="Card image">
                            <div class="overlay-img card-bg ">
                                <div class="card-logo">
                                    <h3 class="text-white text-center">Blah Blah</h3>

                                </div>
                                <a href="index.html">
                                    <div class="overlay">
                                        <h5 class="text-light project-title ">Number Guessing Game</h5>
                                        <p class="text-light project-desc">In this project you will build a small number
                                            guessing game. System will
                                            select a random number between 1 and 100.
                                            See if you can guess it in 10 turns or fewer. We'll tell you if your guess
                                            was too high or too low.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 my-4">
                        <div class="card shadow">
                            <img class="card-img-top" src="/images/number-guessing-game.png" alt="Card image">
                            <div class="overlay-img card-bg">
                                <div class="card-logo">
                                    <h3 class="text-white text-center">Blah Blah</h3>

                                </div>
                                <a href="index.html">
                                    <div class="overlay">
                                        <h5 class="text-light project-title ">Number Guessing Game</h5>
                                        <p class="text-light project-desc">In this project you will build a small number
                                            guessing game. System will
                                            select a random number between 1 and 100.
                                            See if you can guess it in 10 turns or fewer. We'll tell you if your guess
                                            was too high or too low.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 my-4">
                        <div class="card shadow">
                            <img class="card-img-top" src="/images/number-guessing-game.png" alt="Card image">
                            <div class="overlay-img card-bg">
                                <div class="card-logo">
                                    <h3 class="text-white text-center">Number Guessing Game</h3>

                                </div>
                                <a href="project.html">
                                    <div class="overlay">
                                        <h5 class="text-light project-title ">Number Guessing Game</h5>
                                        <p class="text-light project-desc">In this project you will build a small number
                                            guessing game. System will
                                            select a random number between 1 and 100.
                                            See if you can guess it in 10 turns or fewer. We'll tell you if your guess
                                            was too high or too low.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Recent posts -->

        <hr>
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-between">
                <h2 class="text-bold text-left"><u>Recent Posts</u></h2>
                <a class="text-right" href="/projectdetails">View All</a>
            </div>
        </div>

        <!-- Blog details -->
        <!-- Box-01 -->
        <div class="row">
            <div class="col-md-4">
                <div class="card shadow mb-4 box-shadow">
                    <img class="card-img-top" src="/images/img-02.jpg" class="img-fluid"
                        style="border-bottom:1px solid #e9ecef;">
                    <div class="card-body">
                        <h4 class="card-title">Number Guessing Game</h4>
                        <div class="d-flex justify-content-between align-items-center" style="margin-top:10px;">
                            <a href="/blog/building-a-static-portfolio-site-using-bootstrap-4"
                                class="bc-item text-primary font-weight-bold">Continue
                                reading</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Box-02 -->
            <div class="col-md-4">
                <div class="card shadow mb-4 box-shadow">
                    <img class="card-img-top" src="/images/img-06.jpg" class="img-fluid"
                        style="border-bottom:1px solid #e9ecef;">

                    <div class="card-body">
                        <h4 class="card-title">JS Console</h4>
                        <div class="d-flex justify-content-between align-items-center" style="margin-top:10px;">
                            <a href="/blog/building-a-static-portfolio-site-using-bootstrap-4"
                                class="bc-item text-primary font-weight-bold">Continue
                                reading</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Box-03 -->
            <div class="col-md-4">
                <div class="card shadow mb-4 box-shadow">
                    <img class="card-img-top" src="/images/img-08.jpg" style="border-bottom:1px solid #e9ecef;">

                    <div class="card-body">
                        <h4 class="card-title">JS Console</h4>
                        <div class="d-flex justify-content-between align-items-center" style="margin-top:10px;">
                            <a href="/blog/building-a-static-portfolio-site-using-bootstrap-4"
                                class="bc-item text-primary font-weight-bold">Continue
                                reading</a>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</body>